
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white bg-info">
            <h2>ユーザー登録</h2>
        </div>
        <div class="card-body">
            <%= render 'form', user: @user %>
        </div>
        <div class="card-footer text-muted text-left">
            <%= link_to '戻る', users_path %>
        </div>
    </div>
</div>