<div class="jumbotron mt-5" height="60vh">
  <h1 class="display-4">チュートリアル用のサイトです</h1>
  <p class="lead">
    <p>動画を投稿できるサイトを作る事が目的です。
  </p>
  <hr class="my-4">
  <p>作業内容については<a href="https://github.com/PonchTaro/rails_tutorial/issues/1">こちら</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg text-white" href="/users/" role="button">さっそく使ってみる</a>
  </p>
</div>